/*** DEVELOPER: Allie He, IS117003, Fall 2022 ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightcyan;
}
.about{
    float: left;
    margin: 5em 5em;
    padding: 1em 1em;
}
