/*** DEVELOPER: Allie He, IS117003, Fall 2022 ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e6f0f0 !important;
}
h1 {
    font-size: 2.8em;
    padding: 10px 0;
    font-weight: 800;
    color: darkslategrey;
    background-color: #f0a5a5;
    text-align: center;
}
.about{
    text-align: center;
    padding: 0 3em 2em 3em;
}
.about img{
    float: right;
    margin-left: 2em;
}
.about p{
    text-align: justify;
}
.resume{
    text-align: center;
}
