/*** DEVELOPER: Allie He, IS117003, Fall 2022 ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #b1ccca !important;
    font-family: Century Gothic, sans-serif !important;
}
h1 {
    font-size: 2.8em;
    padding: 10px 0;
    font-weight: bold !important;
    color: darkslategrey !important;
    text-align: center;
}
p {
    font-size: 1.1em;
    font-weight: 100;
    letter-spacing: 5px;
}
.banner {
    width: 100%;
    padding: 200px 0;
    text-align: center;
    background: #f09c9c;
    color: white;
}
a {
    text-decoration: none;
}
/*** nav bar ***/
li {
    list-style: none;
}
.logo{
    font-size: x-large;
    float: left;
    margin-right: 1em;
    background-color: #f09c9c;
    text-align: center;
}
.logo a{
    color: darkslategrey !important;
    font-weight: bold;
}
.navbar {
    float: right;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: darkslategrey;
    color: #fff;
}
.nav-links a {
    color: #fff;
}
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #f0a5a5;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}
main{
    text-align: center;
}
.btn {
    background-color: darkslategrey !important;
}
.btn-primary {
    background-color: darkslategrey !important;
}
.footer {
     position: fixed !important;
     bottom: 0;
     width: 100%;
     background-color: #f0a5a5 !important;
     color: white;
     text-align: center;
     font-size: xx-small;
     margin: 0;
     padding: 0;
}
