/*** DEVELOPER: Allie He, IS117003, Fall 2022 ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    text-align: center;
}
body {
    background-color: lightcyan;
    align-content: center;
    font-weight: 300;
    line-height: 1.6;
}
.container {
    width: 60%;
    margin: 2rem auto;
}
div.gallery {
    border: 1px solid #ccc;
}
div.gallery:hover {
    border: 1px solid #777;
}